# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/

# PyInstaller
*.spec

# Output logs
Output/Dataset_Exps
Output/Polynomial_CV_Exps
Output/Polynomial_Oracle_Exps

# Input datasets
Input/

# VS Code, PyCharm
.vscode/
.idea/

# macOS, Linux, Windows junk
.DS_Store
*.swp
Thumbs.db

# Runner
run_icol.py